// Buttons

/* Mostly for neutral buttons */
$clr-bg-neutral: #091e420f;
$clr-bg-neutral-hovered: #091e4224;
$clr-bg-neutral-pressed: #091e424f;

/* For transparent buttons with dynamic colors */
$clr-dynamic-button-black: transparent;
$clr-dynamic-button-black-hovered: #091e4224;
$clr-dynamic-button-black-pressed: #091e424f;
$clr-dynamic-button-white: transparent;
$clr-dynamic-button-white-hovered: #a6c5e229;
$clr-dynamic-button-white-pressed: #bfdbf847;

// COLORS
// Dark
$dark-0: #c1c2c5;
$dark-1: #a6a7ab;
$dark-2: #909296;
$dark-3: #5c5f66;
$dark-4: #373a40;
$dark-5: #2c2e33;
$dark-6: #25262b;
$dark-7: #1a1b1e;
$dark-8: #141517;
$dark-9: #101113;

// Red
$red-4: #ff8787;
$red-5: #ff6b6b;
$red-6: #fa5252;
$red-7: #f03e3e;
$red-8: #e03131;
$red-9: #c92a2a;

// Cyan
$cyan-3: #66d9e8;
$cyan-4: #3bc9db;
$cyan-5: #22b8cf;
$cyan-6: #15aabf;
$cyan-7: #1098ad;
$cyan-8: #0c8599;
$cyan-9: #0b7285;

// Teal
$teal-3: #63e6be;
$teal-4: #38d9a9;
$teal-5: #20c997;
$teal-6: #12b886;
$teal-7: #0ca678;
$teal-8: #099268;
$teal-9: #087f5b;

// Orange
$orange-3: #ffc078;
$orange-4: #ffa94d;
$orange-5: #ff922b;
$orange-6: #fd7e14;
$orange-7: #f76707;
$orange-8: #e8590c;
$orange-9: #d9480f;
